$rockstarsYellow: #FFE000;
$rockstarsDarkGray: #232323;
$rockstarsBlack: #000;
$rockstarsWhite: #fff;

$rockstarsSpacingHalf: 12px;
$rockstarsSpacing1: 24px;
$rockstarsSpacing2: 48px;
$rockstarsSpacing3: 72px;